<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WarpShare</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
    <div id="app">
        <nav class="top-nav">
            <div>
                <div class="dot"></div>
                <h1 class="logo"><a href="#">WARPSHARE</a></h1>
                <p class="path"><span class="dir">~</span> / <span class="dir">Documents</span> / <span class="dir">Projects</span></p>
            </div>
            <div>
                <button class="upload">Upload</button>
                <button class="new-folder">New Folder</button>
                <div class="view"></div>
            </div>
        </nav>
    </div>
    <script src="/static/js/index.js"></script>
</body>
</html>